<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="description" content="A coding bootcamp student's portfolio">
        <meta name="keywords" content="portfolio, software developer portfolio, software development, software developer, coding bootcamp">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Val's portfolio</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    </head>
    <body>
        <%= yield %>
    </body>
</html>