body {
  background-color: #44b09e;
  background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
  font-family: "Acme", sans-serif;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  text-shadow: 2px 2px 10px rgb(163, 200, 255);
}
h1 {
  text-shadow: 2px 2px 10px rgb(163, 200, 255);
  text-align: center;
  font-size: 50px;
}
.home {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.boxed {
  border: 1px solid blue;
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  padding: 1em;
}
